<settings>
    <setting id="ac" value="3025" />
    <setting id="bt" value="1451506106" />
    <setting id="counter" value="2" />
    <setting id="manual_download" value="" />
    <setting id="path" value="/storage/emulated/0/Android/EPG/" />
    <setting id="xmltv_1" value="None" />
    <setting id="xmltv_2" value="None" />
    <setting id="xmltv_3" value="None" />
</settings>
