<settings>
    <category label="Premium Login">
		<setting label="StreamNetwork.tv Premium Login" type="lsep"/>	
        <setting label="30080" type="sep" />
        <setting id="user" label="Benutzername eingeben:" type="text" default="user"/>
        <setting id="password" label="Passwort eingeben: " type="text" option="hidden" default="user"/>
        <setting label="30080" type="sep" />
       	<setting label="      Du hast noch keinen Premium Account, dann besuche unsere Homepage" type="lsep"/>
		<setting label="                  dort findest du alle Informationen und verfügbaren Sender" type="lsep"/>
		<setting label="                                             http://www.StreamNetwork.tv" type="lsep"/>
    </category>
    <category label="Allgemein">
        <setting id="setBack" type="bool" label="Hintergrundbild des Senders anzeigen" default="true"/>
        <setting id="views_kg" type="text" label="Standard Ansicht / Viewtyp für Kategorie" default="503"/>
        <setting id="views_s" type="text" label="Standard Ansicht / Viewtyp für Senderliste" default="504"/>
    </category>
    <category label="EPG">
        <setting id="epg_on" type="bool" label="EPG/Senderinformation anzeigen (Ladezeit ca. 20 sec)" default="true"/>
        <setting id="epg_info" enable="!eq(-1,false)" type="text" label="wieviel Sendungen im Info Fenster" default="5" /> 
		<setting id="epg_title" enable="!eq(-2,false)" type="bool" label="laufende Sendung im Titel anzeigen" default="true"/>
		<setting id="epg_dl" enable="!eq(-3,false)" type="bool" label="EPG wird beim nächsten Addon-Start zwangs-erneuert" default="false"/>
        <setting id="timeshift0"  enable="!eq(-4,false)" type="bool" label="Zeitzone fürs EPG automatisch ermitteln" default="true" /> 
        <setting id="timeshift" enable="!eq(-1,true)+!eq(-5,false)" type="text" label="EPG Zeitverschiebung relativ zu DE (nur volle Stunden)" default="0" /> 
    </category>
</settings>