<settings>
    <setting id="abrirlogolista-botao" value="true" />
    <setting id="acrescentogravacao" value="1" />
    <setting id="alterarvista" value="true" />
    <setting id="canais-abolatv" value="true" />
    <setting id="canais-artv" value="true" />
    <setting id="canais-axn" value="true" />
    <setting id="canais-axnblack" value="true" />
    <setting id="canais-axnwhite" value="true" />
    <setting id="canais-btv1" value="true" />
    <setting id="canais-btv2" value="true" />
    <setting id="canais-cacapesca" value="true" />
    <setting id="canais-chelsea" value="true" />
    <setting id="canais-cmtv" value="true" />
    <setting id="canais-cpanda" value="true" />
    <setting id="canais-discovery" value="true" />
    <setting id="canais-discturbo" value="true" />
    <setting id="canais-disney" value="true" />
    <setting id="canais-disneyj" value="true" />
    <setting id="canais-djingtv" value="true" />
    <setting id="canais-economico" value="true" />
    <setting id="canais-espn" value="true" />
    <setting id="canais-euronews" value="true" />
    <setting id="canais-eurosport" value="true" />
    <setting id="canais-eurosport2" value="true" />
    <setting id="canais-fashion" value="true" />
    <setting id="canais-fox" value="true" />
    <setting id="canais-foxcrime" value="true" />
    <setting id="canais-foxlife" value="true" />
    <setting id="canais-foxmovies" value="true" />
    <setting id="canais-historia" value="true" />
    <setting id="canais-hollywood" value="true" />
    <setting id="canais-maistvi" value="true" />
    <setting id="canais-motors" value="true" />
    <setting id="canais-mov" value="true" />
    <setting id="canais-mtv" value="true" />
    <setting id="canais-ngc" value="true" />
    <setting id="canais-odisseia" value="true" />
    <setting id="canais-pbiggs" value="true" />
    <setting id="canais-portocanal" value="true" />
    <setting id="canais-rtp1" value="true" />
    <setting id="canais-rtp2" value="true" />
    <setting id="canais-rtpac" value="true" />
    <setting id="canais-rtpaf" value="true" />
    <setting id="canais-rtpi" value="true" />
    <setting id="canais-rtpint" value="true" />
    <setting id="canais-rtpmad" value="true" />
    <setting id="canais-rtpmem" value="true" />
    <setting id="canais-sic" value="true" />
    <setting id="canais-sick" value="true" />
    <setting id="canais-sicmulher" value="true" />
    <setting id="canais-sicnoticias" value="true" />
    <setting id="canais-sicradical" value="true" />
    <setting id="canais-sportingtv" value="true" />
    <setting id="canais-sporttv1" value="true" />
    <setting id="canais-sporttv2" value="true" />
    <setting id="canais-sporttv3" value="true" />
    <setting id="canais-sporttv4" value="true" />
    <setting id="canais-sporttv5" value="true" />
    <setting id="canais-sporttvlive" value="true" />
    <setting id="canais-ss5" value="true" />
    <setting id="canais-syfy" value="true" />
    <setting id="canais-torostv" value="true" />
    <setting id="canais-tpai" value="true" />
    <setting id="canais-traceu" value="true" />
    <setting id="canais-tvglobo" value="true" />
    <setting id="canais-tvi" value="true" />
    <setting id="canais-tvi24" value="true" />
    <setting id="canais-tvificcao" value="true" />
    <setting id="canais-tvrecord" value="true" />
    <setting id="canais-vh1" value="true" />
    <setting id="canais-virginrtv" value="true" />
    <setting id="eventos" value="true" />
    <setting id="fontes-canalhd" value="true" />
    <setting id="fontes-desportogratis" value="true" />
    <setting id="fontes-livesoccerhd" value="true" />
    <setting id="fontes-meocanaltv" value="true" />
    <setting id="fontes-redwebtv" value="true" />
    <setting id="fontes-rtpplay" value="true" />
    <setting id="fontes-thesporttveu" value="true" />
    <setting id="fontes-tugastream" value="true" />
    <setting id="fontes-tvacores" value="true" />
    <setting id="fontes-tvdez" value="true" />
    <setting id="fontes-tvgente" value="true" />
    <setting id="fontes-tvpthdorg" value="true" />
    <setting id="fontes-tvtuga" value="true" />
    <setting id="fontes-tvzune2" value="false" />
    <setting id="ga_time" value="2015-05-02 22:55:18" />
    <setting id="ga_visitor" value="638910033" />
    <setting id="gravacoes" value="true" />
    <setting id="horaportuguesa" value="true" />
    <setting id="listacanais2" value="false" />
    <setting id="listas-pessoais" value="true" />
    <setting id="listasextra" value="false" />
    <setting id="mensagemgratis3" value="false" />
    <setting id="pastagravador" value="" />
    <setting id="playertype" value="0" />
    <setting id="praias" value="true" />
    <setting id="prog-lista3" value="true" />
    <setting id="radios" value="true" />
    <setting id="replaytv" value="true" />
    <setting id="rtmp-lib0001" value="false" />
    <setting id="rtmpdumpalternativo" value="" />
    <setting id="sportsdevil" value="true" />
    <setting id="termos" value="false" />
    <setting id="timezone2" value="437" />
    <setting id="verif-veetle3" value="false" />
    <setting id="vistacanais" value="0" />
</settings>
